@import "./imports/_normalize.scss";
$yeller: #F7CA18;
$seaGreen: #A5D6A7;
$buttonGrn: #27ae60;
$buttonRd: #e74c3c;
*{ box-sizing: border-box }
img {
   width: 100%;
   display: block;
}

#app-container{
   max-width: 968px;
   margin: 0 auto;
   .pom-jumbo{
<<<<<<< HEAD
      background: url('../images/tomato-red-silhouette.svg')center,center;
      background-repeat: no-repeat;
      background-position-y: 105vh;
      background-size: cover;
      height: 50vh;

=======
      background: url('../images/tomato-red-silhouette.svg')center,center, no-repeat;
      background-position-y: -30vh;
      background-size: cover;
      height: 78vh;
>>>>>>> master
      .current-task{
         font-size: 30px;
         font-weight: 600;
         background: rgba(255,255,255, .6);
         padding: 8px;
      }
      #finished{
         padding-top: 45px;
         text-shadow: 2px 1px 0px rgba(45, 45, 45, 1);
         color: $seaGreen;
      }
      #clock{
         text-shadow: 2px 1px 0px rgba(45, 45, 45, 1);
         color: $yeller;
         font-size: 6em;
      }
   }

   .pom-input{
      width: 40%;
      margin: 0 auto 2rem;
      input{
         outline: none;
         border: none;
         box-shadow: none;
         border-radius: 0;
         border-bottom: 2px solid #999;
      }
      button{
         border: none;
         border-bottom: 2px solid #999;
         background: $buttonGrn;
         color: #fff;
         width: 60px;
         i{
            padding:3px;
         }
      }

   }
   .task{
      border-bottom: 2px solid #999;
      i{
         font-size: 30px;
         float: right;
         padding: 5px;
         &:hover{
            cursor: pointer;
         }

      }
      .fa-play:hover{
         background: $buttonGrn;
      }
      .fa-trash:hover{
         background: $buttonRd;
      }
   }
}
